html
	head
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		title TODO
		link(rel="stylesheet",type="text/css",href="css/base.css")
		link(rel="stylesheet",type="text/css",href="css/diff.css")
	body
		ul
		-for(var i=0,l=items.length;i<l;i++)
			li
				span= items[i]
				h4 failed result
				p=data[items[i]][0]
				h4 expected result
				p=data[items[i]][1]
				a.markDone done		
		script(src="js/jquery.js")
